<?xml version="1.0" encoding="utf-8"?>
<!--
  SPDX-License-Identifier: GPL-3.0-only
  Credits: Meta Horizon OS v2.7 — Meta Platforms, Inc.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_sensors"
        tools:ignore="HighSamplingRate" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <queries>
        <package android:name="com.oculus.vrshell" />
        <package android:name="com.oculus.systemux" />
        <package android:name="com.google.ar.core" />
        <package android:name="moe.shizuku.privileged.api" />
    </queries>

    <application
        android:name=".HorizonPortApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_metaport_demo"
        android:roundIcon="@mipmap/ic_metaport_demo"
        android:label="@string/metaport_demo_app_name"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity
            android:name=".HorizonPortActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboard|keyboardHidden|navigation|uiMode"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            tools:ignore="LockedOrientationActivity,DiscouragedApi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
    </application>
</manifest>
